@font-face {
    font-family: 'San Francisco Pro Display Regular';
    src: url('./fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display Thin';
    src: url('./fonts/SFProDisplay-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display Ultra Light';
    src: url('./fonts/SFProDisplay-Ultralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display Black';
    src: url('./fonts/SFProDisplay-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display Bold';
    src: url('./fonts/SFProDisplay-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display Heavy';
    src: url('./fonts/SFProDisplay-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
