@import 'fonts.css';

body {
    background: #fafafa;
}

/* HEADER------------------------------------ */

.navbar {
    padding: .2rem .4rem;
}

.navbar-brand {
    font-size: 1.15rem;
    margin-left: .5rem;
}

.navbar address a {
    font-size: .8rem;
}

.header {
    font-family: "San Francisco Pro Display Regular"!important;
    background-color: rgba(0, 0, 0, .8);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.header .nav-item a.nav-link,
.header address a {
    color: rgba(245, 245, 247, .8) !important;
    transition: .5s;
}

.header .nav-item a:hover,
.header address a:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.navbar-toggler {
    padding: .10rem .50rem;
}

.header .nav-item {
    border-bottom: 1px solid #424245;
}

.header .nav-item:nth-last-child(-n+1) {
    border-bottom: none;
}

.header .nav-item:first-child {
    border-top: 1px solid #424245;
    margin-top: .75rem
}

.header.show {
    animation-name: navbarMobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.header.hide {
    animation-name: navbarMobileHide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes navbarMobile {
    from {
        background-color: rgba(0, 0, 0, .8);
    }

    to {
        background-color: #000000;
    }
}

@keyframes navbarMobileHide {
    from {
        background-color: #000000;
    }

    to {
        background-color: rgba(0, 0, 0, .8);
    }
}

/* HOME-------------------------------------- */
.home .img {
    background-image: url(./images/IMG_0166.JPG);
    background-color: rgba(33,37,41, .55);
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 45px);
    width: 100%;
}

.home .img:before {
    content: "";
    display: block;
    height: calc(100vh - 45px);
    width: 100%;
    background-color: rgba(33,37,41, .55);
}

.home .img div {
    font-family: "San Francisco Pro Display Heavy"!important;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
}

.footer{
    font-family: "San Francisco Pro Display Regular"!important;
    background-color: rgba(0, 0, 0, .8)!important;
}

.footer .navbar a {
    white-space: nowrap;
}




@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    /* HEADER------------------------------------ */
    .header .nav-item {
        border-bottom: none;
    }
    
    .header .nav-item:first-child {
        border-top: none;
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    
}
@media (min-width: 1200px) {

}


#services, #price, #contacts, #car, #import, #export, #eur1 {
    font-family: 'San Francisco Pro Display Regular';
}

#services h2, #price h2, #contacts h2, #car h2, #import h2, #export h2, #eur1 h2 {
    font-family: 'San Francisco Pro Display Heavy';
}

