@keyframes navbarMobile {
    from {
        background-color: rgba(0, 0, 0, .8);
    }

    to {
        background-color: #000000;
    }
}

@keyframes navbarMobileHide {
    from {
        background-color: #000000;
    }

    to {
        background-color: rgba(0, 0, 0, .8);
    }
}

@keyframes animateO {
    0% {
        top: -6px;
        left: -5px;
        transform: rotate(-20deg)
    }

    25% {
        top: -8px;
        left: 0px;
        transform: rotate(0deg);
    }

    50% {
        top: -12px;
        left: 5px;
        transform: rotate(20deg);
    }

    75% {
        top: -8px;
        left: 0px;
        transform: rotate(0deg);
    }

    100% {
        top: -6px;
        left: -5px;
        transform: rotate(-20deg);
    }

}

@keyframes animateI {
    0% {
        transform: rotate(-20deg)
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-20deg);
    }

}

@keyframes animateN {
    0% {
        transform: rotate(30deg)
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(30deg);
    }

}